<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>286618801883-5erl1iogl1rh3r0guar9j1gbuo5ei8db.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.286618801883-5erl1iogl1rh3r0guar9j1gbuo5ei8db</string>
	<key>API_KEY</key>
	<string>AIzaSyDDD0tk76uipGjYTq2REN4uV2ZayVzHov8</string>
	<key>GCM_SENDER_ID</key>
	<string>286618801883</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatsappUi</string>
	<key>PROJECT_ID</key>
	<string>whatsapp-backend-fb15e</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsapp-backend-fb15e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:286618801883:ios:e670d11a81606d6debdefe</string>
</dict>
</plist>